@import 'reset';
// 清除浮动
@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

// 字体图标
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?8vl2kc');
  src: url('../fonts/icomoon.eot?8vl2kc#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?8vl2kc') format('truetype'), url('../fonts/icomoon.woff?8vl2kc') format('woff'), url('fonts/icomoon.svg?8vl2kc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon"],
[class*=" icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\e92f";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-minus:before {
  content: "\ea0b";
}

.wrap {
  width: 300px;
  margin: 100px auto;
}

.container {
  i,
  span {
    display: inline-block;
    vertical-align: bottom;
  }
  ul {
    margin-left: 60px;
    li {
      margin: 20px 0;
      font-size: 20px;
      cursor: default;
    }
  }
  .title+ul {
    display: none;
  }
  .title.open+ul {
    display: block;
  }
  .title {
    i:before,
    span:before {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 10px;
    }
    i:before {
      content: "\ea0a";
      border: 2px solid #B2C6D7;
      border-radius: 2px;
      padding: 2px;
      color: #8B8B88;
      font-size: 12px;
      cursor: pointer;
    }
    span:before {
      content: "\e92f";
      color: #FAEEAD;
      font-size: 20px;
    }
    &.open {
      i:before {
        content: "\ea0b";
      }
      span:before {
        content: "\e930";
      }
    }
  }
}